body {
  margin:0px;
}

.main-pic {
  max-width: 50%;
  height:auto;
}
.main-page01 {
  background-color: white;
}

div.navigator {
  position: fixed;
  left:10%;
  right:10%;
  top:20px;
  background-color: orange;
  height:50px;
}

.logo img {
  width: 50px;
  height: 50px;
  float:left;
}
.logo {
  width: 50px;
  height: 50px;
  float:left;
}

.navigator-list {
  margin-top: 12px;

}

.navigator-list li {
  margin-left: 20px;
  padding: 2px;
}

.navigator-list li:hover {
  border-style:none none solid none; 
}

.navigator-list li {
  list-style-type: none;
  display:inline;
  font-size: 1.2em;
  font-family: "Microsoft YaHei";
}

h2 {
  font-family: "Microsoft YaHei";
}

.nav-01 {
  margin:0 auto;
  width:800px;
  height: 50px;
}

.right-text {
  float:right;
  width:20%;
  color: black;
  margin-top:20%;
  margin-right:10%;
}

a {
  text-decoration:none;
}

div.index-page {
}

#full-screen {
  font-weight: bold;
  width:100%;
  height:100%;
  visibility: hidden;
  background-color:black;
  position:absolute;
  z-index:1;
  top:0px;
  opacity: 0.8;
  -webkit-opacity:0.8;
  -moz-opacity:0.8;
  -o-opacity:0.8;
  -ms-opacity:0.8;
}

div.banana {
  position:absolute;
  width:50px;
  height:50px;
  right:10px;
  top: 0px;
}

input {
  position: absolute;
  right:70px;
  top: 15px;
  width:100px;
}

/*以下是媒体查询*/
@media screen and (max-width: 828px) {
  .navigator-list li {
    margin-right: -20px;
    text-align: center;
  }
}
@media screen and (min-width: 829px) and (max-width: 1024px) {
  .navigator-list li {
    margin-right: 12px;
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .navigator-list li {
    margin-right: 50px;
    text-align: center;
  }
}
@media screen and (orientation:portrait) {
  .main-pic {
  max-width: 100%;
  height:auto;
  }
  .right-text {
    float:none;
    width:400px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
  }
}

.contact-information {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 250px;
  height:100px;
  top:300px;
}
.contact-information p {
  margin-left: 10px;
}

/*article.html*/

.article-img-right {
  position:absolute;
  right:0px;
  width: 40%;
  height:auto;
  z-index: -2;
  top:8%;
}

div.article-body {
  margin-top: 100px;
}

img.article-img {
  width: 100%;
  height:100%;
}

.article-page {
  margin-left: 15%;
  border-bottom: 1px dotted black;
  width:45%;
  padding-bottom: 1%;
}

.article-page-ul {
  margin:0px;
  padding:0px;
}

.article-page li{
  list-style-type: none;
  display: inline;
  font-size: 0.5em;
}

.article-page p {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 2%;
  margin-bottom: 0px;
}

/*works.html*/

.works-body {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width:1042px;
}

.page-list li {
  list-style-type: none;
  margin-left: 0px;
  float:left;
}

.page-list li:first-child {
  padding-left:5%;
}

.page-list {
  padding: 0px;
}

.sele {
  display:inline;
  position:relative;
  width: 320px;
}
.sele:hover {
  border:none;
}
.sele:hover span {
  height: 198px;
}
.sele span {
  position:absolute;
  left:0;
  bottom:0;
  overflow:hidden;
  width:100%;
  height: 0;
  background:#000;
  opacity:0.8;
  filter:alpha(opacity=50)
}